# dependencies
/node_modules

# paths/files
/dist
/test
package-test.json
.eslintrc-test.json

# testing
#/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
